html {
  background-color: rgb(2 6 23) !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container-box {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.slick-slide {
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 1024px) {
  .slick-slide {
    padding: 0 2rem 2rem 2rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
